body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: silver;
    margin: 0;
    background-size: cover;
    background-image: url("C:/Users/heroe/OneDrive/Desktop/Images/xmansion-dp.jpeg");
}